<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DbPath" value="data.db" />
    <add key="ServersCol" value="servers" />
    <add key="PlayersCol" value="players" />
    <add key="ScoreCol" value="scores" />
    <add key="MatchCol" value="matches" />
    <add key="GameModesCol" value="game_modes" />
    <add key="JournalOff" value=";journal=false" />
    <add key="MapsCol" value="maps" />
    <add key="MPContract" value="maps" />
      
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
