<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" fileName="${basedir}/${date:format=yyyy-MM-dd}-webapi.log" />
    </targets>
    <rules>
      <logger name="*" minlevel="Warn" writeTo="logfile" />
    </rules>
  </nlog>
  <appSettings>
    <add key="DbPath" value="Filename = data.db;Timeout=0:00:10;CasheSize=30000" />
    <add key="ServersCol" value="servers" />
    <add key="PlayersCol" value="players" />
    <add key="ScoreCol" value="scores" />
    <add key="MatchCol" value="matches" />
    <add key="GameModesCol" value="game_modes" />
    <add key="JournalOff" value=";journal=false" />
    <add key="MapsCol" value="maps" />
    <add key="MPContract" value="maps" />
    <add key="ReadOnlyMode" value=";Mode=ReadOnly" />
    <add key="UtilsDb" value="utils.db" />
    <add key="UtilsCol" value="date_infos" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>